---
import classNames from 'classnames';

interface Props {
	className?: string;
}

const { className = '' } = Astro.props;
---

<div class={classNames('rounded-lg border p-4 border-gray-300', className)}>
	<slot />
</div>
