.Accordion {
	display: flex;
	flex-direction: column;
	color: var(--color-on-surface);
	border-radius: var(--radius-sm);
	overflow: visible;
	border: 1px solid var(--color-outline);
	background-color: var(--color-surface);
	--accordion-animation-duration: 150ms;
}

.Accordion_Item {
	border-bottom: none;
	&:not(:last-child) {
		border-bottom: 1px solid var(--color-outline);
	}

	&:first-child {
		> .Accordion_Trigger {
			border-radius: var(--radius-sm) var(--radius-sm) 0 0;
		}
	}

	&:last-child {
		&[data-state='closed'] > .Accordion_Trigger {
			transition: border-radius 0ms ease-in-out var(--accordion-animation-duration);
			border-radius: 0 0 var(--radius-sm) var(--radius-sm);
		}
	}
}

.Accordion_Trigger {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;

	&:hover {
		background-color: var(--color-surface-hover);
	}

	&:active {
		background-color: var(--color-surface-active);
	}

	&:focus-visible {
		outline: 2px solid var(--color-primary);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
		filter: grayscale(100%);
	}
}

.Accordion_ItemIndicator {
	margin-left: auto;

	transition: transform var(--accordion-animation-duration) ease-in-out;

	svg {
		width: var(--icon-size-sm);
		height: var(--icon-size-sm);
	}

	&[data-state='open'] {
		transform: rotate(180deg);
	}
}

.Accordion_Content {
	padding: 10px;
	overflow: hidden;

	&[data-state='open'] {
		animation: slideDown var(--accordion-animation-duration) ease-in-out;
		will-change: height, opacity;
	}

	&[data-state='closed'] {
		animation: slideUp var(--accordion-animation-duration) ease-in-out;
		will-change: height;
	}
}

@keyframes slideDown {
	from {
		opacity: 0;
		height: 0;
	}
	to {
		opacity: 1;
		height: var(--height);
	}
}

@keyframes slideUp {
	from {
		opacity: 1;
		height: var(--height);
	}
	to {
		opacity: 0;
		height: 0;
	}
}
