.Switch {
	--switch-border-color: var(--border-outline);
	--switch-bg-color: var(--color-outline);
	--switch-thumb-size: 1.25rem;
	--switch-thumb-bg-color: var(--color-surface);
	--switch-thumb-label-color: var(--color-on-surface);
	--switch-bg-color--checked: var(--color-primary);
	--switch-outline-color-focus: var(--color-primary);
	--switch-label-font-size: var(--text-sm);
	--switch-thumb-translate-x: 1rem;
	--switch-bg-color--hover: var(--color-outline-hover);
	--switch-bg-color-hover--checked: var(--color-primary-hover);

	display: inline-flex;
	align-items: center;
	position: relative;
	gap: 0.5rem;

	&[data-disabled] {
		opacity: 0.8;
		filter: grayscale(100%);
	}

	&[data-size='small'] {
		--switch-thumb-size: 1rem;
		--switch-thumb-translate-x: 1.25rem;
		--switch-label-font-size: var(--text-xs);
	}

	&[data-size='medium'] {
		--switch-thumb-size: 1.25rem;
		--switch-thumb-translate-x: 1rem;
		--switch-label-font-size: var(--text-sm);
	}

	&[data-color='primary'] {
		--switch-border-color: var(--color-primary);
		--switch-bg-color: var(--color-primary-container);
		--switch-bg-color--hover: var(--color-primary-container-hover);
		--switch-bg-color--checked: var(--color-primary);
		--switch-bg-color-hover--checked: var(--color-primary-hover);
	}

	&[data-color='secondary'] {
		--switch-border-color: var(--color-secondary);
		--switch-bg-color: var(--color-secondary-container);
		--switch-bg-color--hover: var(--color-secondary-container-hover);
		--switch-bg-color--checked: var(--color-secondary);
		--switch-bg-color-hover--checked: var(--color-secondary-hover);
	}

	&[data-color='success'] {
		--switch-border-color: var(--color-success);
		--switch-bg-color: var(--color-success-container);
		--switch-bg-color--hover: var(--color-success-container-hover);
		--switch-bg-color--checked: var(--color-success);
		--switch-bg-color-hover--checked: var(--color-success-hover);
	}

	&[data-color='error'] {
		--switch-border-color: var(--color-error);
		--switch-bg-color: var(--color-error-container);
		--switch-bg-color--hover: var(--color-error-container-hover);
		--switch-bg-color--checked: var(--color-error);
		--switch-bg-color-hover--checked: var(--color-error-hover);
	}

	&[data-color='warning'] {
		--switch-border-color: var(--color-warning);
		--switch-bg-color: var(--color-warning-container);
		--switch-bg-color--hover: var(--color-warning-container-hover);
		--switch-bg-color--checked: var(--color-warning);
		--switch-bg-color-hover--checked: var(--color-warning-hover);
	}
}

.Switch_Label {
	font-size: var(--switch-label-font-size);
	user-select: none;
	color: var(--switch-thumb-label-color);
}

.Switch_Control {
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;
	width: 2.5rem;
	padding: 0.125rem;
	background-color: var(--switch-bg-color);
	border-radius: 9999px;

	transition:
		background-color 0.15s ease,
		box-shadow 0.15s ease;

	&[data-state='checked'] {
		background-color: var(--switch-bg-color--checked);
	}

	&[data-focus-visible] {
		outline: 1px solid var(--switch-outline-color-focus);
		outline-offset: 2px;
	}

	&:hover {
		background-color: var(--switch-bg-color--hover);
	}

	&[data-state='checked']:hover {
		background-color: var(--switch-bg-color-hover--checked);
	}
}

.Switch_Thumb {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--switch-thumb-size);
	height: var(--switch-thumb-size);
	background: var(--color-surface);
	border-radius: 9999px;

	transition: transform 0.15s ease;

	&[data-state='checked'] {
		transform: translateX(var(--switch-thumb-translate-x));
	}
}
