.Switch {
	--switch-sm-thumb-size: 1rem;
	--switch-sm-translate-x: 1.25rem;

	--switch-md-thumb-size: 1.25rem;
	--switch-md-translate-x: 1rem;
}

.Switch {
	display: inline-flex;
	align-items: center;
	position: relative;
	gap: 0.5rem;

	&[data-disabled] {
		opacity: 0.8;
		filter: grayscale(100%);
	}
}

.Switch_Label {
	font-size: var(--text-sm);
	user-select: none;
	color: var(--color-on-surface);
}

.Switch_Control {
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;
	width: 2.5rem;
	padding: 0.125rem;
	background-color: var(--color-outline);
	border-radius: 9999px;

	transition:
		background-color 0.15s ease,
		box-shadow 0.15s ease;

	&[data-state='checked'] {
		background-color: var(--color-primary);
	}

	&[data-focus-visible] {
		outline: 1px solid var(--color-primary);
		outline-offset: 2px;
	}

	&:hover {
		background-color: var(--color-outline-hover);
	}

	&[data-state='checked']:hover {
		background-color: var(--color-primary-hover);
	}
}

.Switch_Thumb {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--switch-md-thumb-size);
	height: var(--switch-md-thumb-size);
	background: var(--color-surface);
	border-radius: 9999px;

	transition: transform 0.15s ease;

	&[data-state='checked'] {
		transform: translateX(var(--switch-md-translate-x));
	}
}

.Switch {
	/* Size variants */
	&[data-size='sm'] {
		.Switch_Label {
			font-size: var(--text-xs);
		}

		.Switch_Thumb {
			width: var(--switch-sm-thumb-size);
			height: var(--switch-sm-thumb-size);

			&[data-state='checked'] {
				transform: translateX(var(--switch-sm-translate-x));
			}
		}
	}

	&[data-size='md'] {
		.Switch_Label {
			font-size: var(--text-sm);
		}

		.Switch_Thumb {
			width: var(--switch-md-thumb-size);
			height: var(--switch-md-thumb-size);

			&[data-state='checked'] {
				transform: translateX(var(--switch-md-translate-x));
			}
		}
	}
}

.Switch {
	/* Color variants */
	&[data-color='primary'] {
		.Switch_Control {
			background-color: var(--color-primary-container);

			&[data-focus-visible] {
				outline: 1px solid var(--color-primary);
			}

			&:hover {
				background-color: var(--color-primary-container-hover);
			}

			&[data-state='checked'] {
				background-color: var(--color-primary);

				&:hover {
					background-color: var(--color-primary-hover);
				}
			}
		}
	}

	&[data-color='secondary'] {
		.Switch_Control {
			background-color: var(--color-secondary-container);

			&[data-focus-visible] {
				outline: 1px solid var(--color-secondary);
			}

			&:hover {
				background-color: var(--color-secondary-container-hover);
			}

			&[data-state='checked'] {
				background-color: var(--color-secondary);

				&:hover {
					background-color: var(--color-secondary-hover);
				}
			}
		}
	}

	&[data-color='success'] {
		.Switch_Control {
			background-color: var(--color-success-container);

			&[data-focus-visible] {
				outline: 1px solid var(--color-success);
			}

			&:hover {
				background-color: var(--color-success-container-hover);
			}

			&[data-state='checked'] {
				background-color: var(--color-success);

				&:hover {
					background-color: var(--color-success-hover);
				}
			}
		}
	}

	&[data-color='warning'] {
		.Switch_Control {
			background-color: var(--color-warning-container);

			&[data-focus-visible] {
				outline: 1px solid var(--color-warning);
			}

			&:hover {
				background-color: var(--color-warning-container-hover);
			}

			&[data-state='checked'] {
				background-color: var(--color-warning);

				&:hover {
					background-color: var(--color-warning-hover);
				}
			}
		}
	}

	&[data-color='error'] {
		.Switch_Control {
			background-color: var(--color-error-container);

			&[data-focus-visible] {
				outline: 1px solid var(--color-error);
			}

			&:hover {
				background-color: var(--color-error-container-hover);
			}

			&[data-state='checked'] {
				background-color: var(--color-error);

				&:hover {
					background-color: var(--color-error-hover);
				}
			}
		}
	}
}
